/* stylelint-disable */
$--color-primary: $color-primary;
$--color-success: $color-success;
$--color-warning: $color-warning;
$--color-danger: $color-danger;
$--color-info: $color-info;
$--color-text-primary: $text-color;
$--color-text-regular: $text-color;
$--color-text-secondary: $text-color-secondary;
$--color-text-placeholder: $text-color-placeholder;
$--border-color-base: $border-color;
$--border-color-light: $border-color-light;
$--border-color-lighter: $border-color-lighter;
$--border-color-extra-light: $border-color-extra-light;
$--background-color-base: $background-color;

$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";
