/* stylelint-disable selector-max-id, value-keyword-case */
@import "~nprogress/nprogress.css";
@import "~element-ui/packages/theme-chalk/src/index";
@import "~element-ui/lib/theme-chalk/display.css";
@import "~element-ui/lib/theme-chalk/base.css";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.expansion {
  position: relative;

  &::after {
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    bottom: -0.75rem;
    left: -0.75rem;
    color: transparent;
    content: "";
    background-color: transparent;
    border-color: transparent;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
